.container{
    width: 1000px;
    background-color: silver;
    height: 600px;
    margin: 0px auto;
    padding: 10px;
}

.top-nav{
    height: 150px;
    background-color: green;
    text-align: center;
    margin-bottom: 10px;
}

.nav1{
    
    height: 500px;
    display: flex;
}

.side-nav{
    background-color: blue;
    width: 200px;
    height: 300px;
}

.main{
    background-color: red;
    width: 100%;
    height: 400px;
    margin-left: 20px;
}
.sub-content{
    background-color: yellow;
    width: 250px;
    height: 200px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
}

#advertisement{
    background-color: purple;
    height: 120px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

